<!DOCTYPE html>
<html lang="en">
<head>
<title>Kitchen Aide | 500</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700|Open+Sans:700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
</head>
<body>
	<!--home start-->
	<div id="home">
		<div class="headerLine">
			<div id="menuF" class="default fixed transbg">
				<div class="container">
					<div class="row">				
						<div class="col-md-8">
							<div class="navmenu"style="text-align: center;">
								<ul id="menu">
									<li><a href="/">Home</a></li>
									<li class="active"><a href="#">Recent Recipes</a></li>
									<li><a href="/inventory">Inventory</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 style="margin-top:150px;text-align:center">500 - It is just internal server error. Come back soon after it's fixed.</h2>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>